body{
  object-fit: cover;
  background-image: url(roma.gif);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height:100%;


}  
  
h1{
   text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2cm;
    color: rgb(238, 161, 20);
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: #000;
    
}

h3{
   text-align: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1cm;
    color: rgb(238, 161, 20);
    -webkit-text-stroke-width: 1.3px;
     -webkit-text-stroke-color: rgba(0, 0, 0, 0.966);
     
   
}

.selecaofunc{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 5%;
 background-color: rgba(0, 0, 0, 0.466);
 width: 50%;
margin-left: 23%;
border-radius: 20px;
align-items:center;
  } 


.selecao{
   margin: 10px;
   font-size: 20px;
   color: rgb(238, 161, 20);
 font-family: 'ZCOOL KuaiLe', cursive;

   
}

.selecfunc{
   border-radius: 10px;
   margin-top: 20px;
   margin:20px;
   width: 50%;
   height:40px;
   font-family: 'ZCOOL KuaiLe', cursive;
   color: rgb(238, 161, 20);

}

button{
   margin: 40px

}
.textusere{
   margin-top: 20px;
}


input{
   height: 30px;
   margin-top: 20px;
}

footer{
  font-size: 30px;
  text-align: center;
  font-family: 'ZCOOL KuaiLe', cursive;
  color: rgb(238, 161, 20);
}




 


     
 

    
 




